body {
  padding: 2em;
}

th.event_name { width: 20%; }
th.flickr, th.iphoto { width: 40%; }

td, th { 
  vertical-align: top;
}

.actions {
  display: inline;
  font-size: 8pt;
  padding-left: 1em;
}

h2 {
  background: black;
  color: white;
}

h3 {
  border-bottom: solid 2px black;
}

.event.selected {
  background-color: #ffd;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

.event img.when_selected, .event img.when_not_selected { 
  float: left;
}

.event .when_selected { display: none;}
.event .when_not_selected { display: block;}
.selected.event .when_selected { display: block;}
.selected.event .when_not_selected { display: none;}

.event .photos img {
  height: 2em;
}

.event .big .photos img {
  height: 7em;
}

.event .close { display: none; }
.event .open { display: inline; }
.event .expanded .close { display: inline; }
.event .expanded .open { display: none; }

.event .smaller { display: none; }
.event .expanded .bigger { display: inline; }
.event .expanded.big .bigger { display: none; }
.event .expanded.big .smaller { display: inline; }
.event .bigger { display: none; }
