body {
  padding: 2em;
}

.flickr, .iphoto {
  width: 500px;
}

.flickr {
  float: left;
}

.iphoto {
  margin-left: 540px;
}

.actions {
  display: inline;
  font-size: 8pt;
  padding-left: 1em;
}

h3 {
  background: black;
  color: white;
}

h4 {
  border-bottom: solid 2px black;
}

.year {
  clear: both;
}

.month {
  clear: both;
}

.event .photos img {
  height: 2em;
}

.event.big .photos img {
  height: 7em;
}

.event .close { display: none; }
.event .open { display: inline; }
.event.expanded .close { display: inline; }
.event.expanded .open { display: none; }

.event .smaller { display: none; }
.event.expanded .bigger { display: inline; }
.event.expanded.big .bigger { display: none; }
.event.expanded.big .smaller { display: inline; }
.event .bigger { display: none; }
