body {
  padding: 2em;
  width: 90em;
  margin: 0 auto;
  border: solid 1px red;
}

.year {
  clear: both;
}

.month {
  clear: both;
}

.event {
  clear: both;
}

.event .name {
  float: left;
  width: 15em;
}

.flickr {
  float: left;
  width: 35em;
  margin-left: 1em;  
}

.iphoto {
  width: 35em;
  margin-left: 53em;
}

.actions {
  display: inline;
  font-size: 8pt;
  padding-left: 1em;
}

h2 {
  padding: 0.1em 0.5em;
  background: black;
  color: white;
}

h3 {
  border-bottom: solid 2px black;
}

.event.selected {
  background-color: #ffd;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

.event img.when_selected, .event img.when_not_selected { 
  float: left;
}

.event .name,
.month .name,
.year .name {
  padding-left: 16px;
  background-image: url(/images/unchecked.png);
  background-repeat: no-repeat;
}

.month .name,
.year .name {
  background-position: center left;
}

.event.selected .name,
.year .name.all_selected,
.month .name.all_selected { 
  background-image: url(/images/checked.png);
}

.year .name.some_selected,
.month .name.some_selected { 
  background-image: url(/images/half_checked.png);
}

.event .photos img {
  height: 2em;
}

.event .big .photos img {
  height: 7em;
}

.event .close { display: none; }
.event .open { display: inline; }
.event .expanded .close { display: inline; }
.event .expanded .open { display: none; }

.event .smaller { display: none; }
.event .expanded .bigger { display: inline; }
.event .expanded.big .bigger { display: none; }
.event .expanded.big .smaller { display: inline; }
.event .bigger { display: none; }
